@import url('../css/fonts.css');

html, body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  scroll-behavior: smooth;
}

/* ---------------------------- GLOBAL ---------------------------------- */

h1, h2{
  font-family: Medium Condensed;
  font-size: 2.5rem;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

ul{
  list-style-type: none;
}

p{
  font-family: Book;
}

a{
  text-decoration: none;
  color: black;
}

.text-center{
  text-align: center;
}

/* ---------------------------- NAVIGATION ------------------------------- */
.nav{
  background: white;
  padding: 0 1rem;
  height: 2rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav-menu{
  justify-content: space-between;
}

.nav-items{
  display: flex;
  margin: 0;
}

.nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.3rem;
  position: relative;
  font-family: Medium Condensed; 
}

.nav a{
  text-decoration: none;
  color: rgb(76, 76, 76);
}

.nav-link:hover{
  background-color:	rgb(76, 76, 76);
  margin: 100;
}

.nav-link:hover a{
  color: white;
}

.nav-logo-text{
  padding: 0.7rem;
  margin: 0%;
}

/* --- toggle button ---*/
.toggle{
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.toggle-icons i{
  font-size: 1.4rem;
}

.collapse{
  height: 22rem;
}

/* --- search box --- */

.drop-down{
  display: None;
  float: right;
}

.search:hover{
  color: white;
}

.search:hover .drop-down{
  display: block;
  padding-left: 1rem;
}

/* ------------------------------ FOOTER ---------------------------------- */

.footer{
  background: white;
  height: 100%;
  position: relative;
}

.footer-split{
  display: grid;
  grid-template-columns: 70% 25% 5%;
}

/*-- subscribe --*/
.subscribe{ 
  font-family: Medium Condensed;
  font-size: 1rem;
}

/*-- text & social --*/

.footer-right{
  padding-top: 4rem;
}

.footer a{
  text-decoration: none;
  color: rgb(76, 76, 76);
}

.footer-text{
  padding-left: 4.5rem;
  margin-bottom: 0%;
}

.social{
  padding-left: 5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.social i{
  padding: 0 0.2rem;
}

.social i:hover{
  color: black;
}

.move-up{
  position: absolute;
  right: 2%;
  top: 80%;
}

.move-up:hover{
  color: black;
}

/* ----------------------------- LANDING PAGE ---------------------------- */

/*-- page with logo and twitter post -- */
.landing-page{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 90vh;
}

.site-logo{
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
}

.tweet-post{
  padding: 2rem;
}

/* -- carousel -- */
.carousel-content{
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.2rem;
  font-family: Light Condensed;
  padding-left: 2.5rem
}

.carousel-content img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.owl-nav-prev{
  
}

.owl-nav-next{

}

.fas fa-chevron-left{
  
}

/* ---------------------------- ACTUAL BLOGS ----------------------------- */

.site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-content{
  padding: 1rem 0rem;
}

/* -- post image --*/
.post-img{
  width: 80%;
  overflow: hidden;
  padding-left: 2.5rem;
}

.post-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

/* -- post title -- */
.post-title{
  padding-left: 2.5rem;
  position: relative;
}

/* -- post text --*/
article{
  padding-left: 3.5rem;
}

/* image during post */
.during-img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0.3rem solid black;
}

.during-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.post-content a{
  text-decoration: underline;
}

.caption {
  font-size: 0.9rem;
  display: block;
  padding-top: 1rem;
}

/* ---- Comment Section -----*/

.comment-container{
  padding-left: 3rem;
  width: 75%
}

/* ---- site blogs - sidebar ----*/

.side-img{
  width: 80%;
  overflow: hidden;
  padding-left: 2.6rem;
}

.side-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.post-stuff{
  padding: 0.5rem;
  position: relative;
}

.popular-post h2{
  padding: 2rem 0rem 0rem 1rem;
}

.side-title{
  font-size: 1.5rem;
}

/*------------------------------ POPULAR PAGE ------------------------------*/

.site-split{
  display: grid;
  grid-template-columns: 30% 70%;
}

.pop-img{
  width: 130%;
  height: 120%;
  overflow: hidden;
}

.pop-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.pop-title{
  font-size: 1rem;
  font-family: Medium;
}

.pop-stuff{
  padding: .5rem 4rem;
  position: relative;
}

.main-title{
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: Medium;
}

.main-title a{
  color: black;
}

.more{
  margin-left: 80%;
}

/*-- popular page -categories --*/

.category-list{
  font-family: Light;
}

.cat-h1{
  font-size: 2.5rem;
}

.list-items{
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  padding: .4rem 1rem;
  margin: 2rem 0rem;
  border-radius: .5rem;
  width: 70%;
  display: flex;
}

.list-items a{
  color: black;
}

/* ----------------- ABOUT PAGE -----------------*/
.abt{
  padding-top: 2rem;
}

.abt-logo{
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
}

div.a{
  text-align: left;
  padding-left: 2rem;
}

div.m{
  text-align: right;
  padding-right: 2rem;
}

/* ----------------- CATEGORY PAGES --------------*/
.top-title{
  padding-top: 2rem;
  font-size: 3rem;
  color: grey;
  font-family: Bold;
}

.half{
  width: 50%;
}

.cat-img-2{
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
  padding-left: 3rem;
}

.cat-img-2:hover{
  transform: scale(0.9);
  transition: 1s;
}

.cat-title-2{
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: Medium;
  margin-left: 25%;
  color: black;
}

/* -- RESIZE -- media makes website responsive -- */

/* -- viewport 1440px or less -- */

@media only screen and (max-width: 1440px){

  .cat-img-2{
    padding-left: 2rem;
  }

  .pop-img{
    width: 140%
  }

  .pop-stuff{
    padding: .5rem 3.5rem;
    position: relative;
  }

  .blog{
    height: 80vh;
  }

  .side-img{
    padding-left: 2.1rem;
  }
}

/* -- viewport 1240px or less -- */

@media only screen and (max-width: 1024px){

  .cat-img-2{
    width: 110%;
    padding-left: 0.8rem;
  }

  .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.1rem;
  }

  .nav-logo{
  width: 7rem;
  }

  .blog{
    height: 74vh;
  }

  .footer-logo{
  width: 10rem;
  padding: 4rem 3rem 0rem 3rem;
  }

  .side-info{
    font-size: 0.7rem;
  }

  .social{
    padding-left: 2.5rem;
  }

  .pop-img{
    width: 100%;
  }

  .pop-stuff{
    padding: .5rem .7rem;
  }

  .side-img{
    padding: 1.5rem;
  }

  .blog-title{
    font-size: 1rem;
    padding-top: 0rem;
  }

}

/* -- viewport less than 1130px or less -- */

@media only screen and (max-width: 1130px){
  .nav-logo{
  width: 8rem;
  }

  .nav-link{
  padding: 1.4rem 1rem;
  }
  
  .blog{
    height: 74vh;
  }

  .footer-logo{
  width: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  }

  .social{
    padding-left: 4rem;
  }

  .cat-h1{
    font-size: 2.3rem;
  }

  .list-items{
    width: 60%;
  }

  .site-split{
    grid-template-columns: 28% 80%;
  }

  .pop-stuff{
    padding: .5rem 2rem;
  }

  .pop-img{
    width: 120%;
  }

  .post-title{
    font-size: 1.5rem;
  }

  .popular-post h2{
  padding: 2rem 3rem 0rem 0rem;
  font-size: 2rem;
  }

  .side-img{
    padding-left: 1.5rem;
  }

}

/* -- viewport less than 750px or less -- */

@media only screen and (max-width: 750px){

  .nav-menu, .nav-items{
      flex-direction: column;
  }

  .toggle{
    display: initial;
  }

  .blog{
    height: 64vh;
  }

  .footer-logo{
    width: 12rem;
    padding: 3rem 3rem 0rem 0rem;
  }

  .social{
  padding-left: 2rem;
  font-size: 1.3rem;
  }

  .cat-h1{
    font-size: 2rem;
    padding-top: 0.5rem
  }

  .category-list{
    padding-inline-start: 0.5rem;
  }

  .pop-img{
    width: 110%;
  }

  .pop-stuff{
    padding: .5rem 1.2rem;
  }

  #third-blog{
    display: none;
  }