@import url('../css/fonts.css');


html, body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ----- temporary ----- */
.s-img{
  width: 48%;
  overflow: hidden;
  padding-left: 2.6rem;
}

.s-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

/* ------ Global ------ */

h1, h2{
  font-family: Medium Condensed;
  font-size: 2.5rem;
}

h3{
  font-family: Bold;
  font-size: 1.5rem;
}

.btn{
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-family: Medium Condensed;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: rgb(76, 76, 76);
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

ul{
  list-style-type: none;
}

p{
  font-family: Book;
  padding-left: 2.8rem;
}

/* ----------------- NAVIGATION ------------------ */
.nav{
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.toggle{
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
  padding-left: 2rem;
}

.toggle-icons i{
  font-size: 1.4rem;
}

.collapse{
  height: 24rem;
}

.nav-menu{
  justify-content: space-between;
}

.nav-items{
  display: flex;
  margin: 0;
}

.nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.3rem;
  position: relative;
  font-family: Medium Condensed; 
}

.nav-link:hover{
    background-color:	rgb(76, 76, 76);
    margin: 100;
}

.nav-link:hover a{
  color: white;
}

.nav-logo-text{
  padding: 0.5rem;
}

.read:before{
  content: 'READ';
}

/* ---- search box style ---- */

.drop-down{
  display: None;
}

.search:hover{
  color: white;
}

.search:hover .drop-down{
  display: block;
  padding-left: 1rem;
}

.alignright{
  float: right;
}

/* -------------------- FOOTER -------------------- */

.footer{
  background: white;
  height: 100%;
  position: relative;
}

.footer-logo{
  width: 15rem;
  padding: 2rem 3rem 0rem 3rem;
}

.subscribe{ 
  clear: left; 
  width: 100%;
  font-family: Medium Condensed;
  font-size: 1rem;
}

.footer-split{
  display: grid;
  grid-template-columns: 70% 25% 5%;
}


.social{
  padding-left: 5.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.social i{
  padding: 0 0.2rem;
}

.social i:hover{
  color: black;
}

.move-up{
  position: absolute;
  right: 2%;
  top: 80%;
}

.move-up:hover{
  color: grey;
}

html{
  scroll-behavior: smooth;
}

/* ------------------- LANDING PAGE ------------------ */

.landing-page{
    display: grid;
    grid-template-columns: 70% 30%;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    height: 90vh;
}

.site-logo{
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
}


/* ----------------- SITE BLOGS --------------------- */

.site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-content{
  width: 100%;
}

.post-stuff{
  padding: 1rem 2rem;
  position: relative;
}

.post-title{
  padding: 2rem 0rem 0rem 1.5rem;
  position: relative;
  font-size: 2.5rem;
  font-family: Medium Condensed;
}

article{
  padding: 0rem 0rem 0rem 2rem;
  position: relative;
}

/* image at top of post */
.post-img{
  width: 80%;
  overflow: hidden;
  padding-left: 2.6rem;
}

.post-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

/* image in middle of post */
div.item{
    text-align: center;
}

.blog-img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0.3rem solid black;
}

.blog-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.caption {
  font-size: 0.9rem;
  display: block;
  padding-top: 1rem;
}

/* ---- Comment Section -----*/

.comment-container{
  padding: .1rem 1.80rem
}

/* ---- site blogs - sidebar ----*/

.side-img{
  width: 80%;
  overflow: hidden;
  padding-left: 2.6rem;
}

.side-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.side-content{
  padding: 1rem 0rem;
}

.popular-post h2{
  padding: 2rem 3rem 0rem 0rem;
}

.side-title{
  font-size: 1.5rem;
  text-align: center;
}


/*--------------------- POPULAR ---------------------*/

.site-split{
  display: grid;
  grid-template-columns: 30% 70%;
}

.pop-img{
  width: 130%;
  height: 120%;
  overflow: hidden;
}

.pop-img:hover{
  transform: scale(0.9);
  transition: 1s;
}

.pop-title{
  font-size: 1rem;
  font-family: Medium;
}

.pop-stuff{
  padding: .5rem 4rem;
  position: relative;
}

.main-title{
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: Medium;
}

.main-title a{
  color: black;
}

.more{
  margin-left: 80%;
}

/*-- popular page -categories --*/

.category-list{
  font-family: Light;
}

.cat-h1{
  font-size: 2.5rem;
}

.list-items{
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  padding: .4rem 1rem;
  margin: 2rem 0rem;
  border-radius: .5rem;
  width: 70%;
  display: flex;
}

.list-items a{
  color: black;
}

/* ----------------- CATEGORY PAGES --------------*/
.top-title{
  padding-top: 2rem;
  font-size: 3rem;
  color: grey;
  text-align: center;
}

.half{
  width: 50%;
}

.cat-img-2{
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
  padding-left: 3rem;
}

.cat-img-2:hover{
  transform: scale(0.9);
  transition: 1s;
}

.cat-title-2{
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: Medium;
  margin-left: 25%;
  color: black;
}

/* -- RESIZE -- media makes website responsive -- */

/* -- viewport 1440px or less -- */

@media only screen and (max-width: 1440px){

  .cat-img-2{
    padding-left: 2rem;
  }

  .pop-img{
    width: 140%
  }

  .pop-stuff{
    padding: .5rem 3.5rem;
    position: relative;
  }

  .blog{
    height: 80vh;
  }

  .side-img{
    padding-left: 2.1rem;
  }
}

/* -- viewport 1240px or less -- */

@media only screen and (max-width: 1024px){

  .cat-img-2{
    width: 110%;
    padding-left: 0.8rem;
  }

  .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.1rem;
  }

  .nav-logo{
  width: 7rem;
  }

  .blog{
    height: 74vh;
  }

  .footer-logo{
  width: 10rem;
  padding: 4rem 3rem 0rem 3rem;
  }

  .side-info{
    font-size: 0.7rem;
  }

  .social{
    padding-left: 2.5rem;
  }

  .pop-img{
    width: 100%;
  }

  .pop-stuff{
    padding: .5rem .7rem;
  }

  .side-img{
    padding: 1.5rem;
  }

  .blog-title{
    font-size: 1rem;
    padding-top: 0rem;
  }

}

/* -- viewport less than 1130px or less -- */

@media only screen and (max-width: 1130px){
  .nav-logo{
  width: 8rem;
  }

  .nav-link{
  padding: 1.4rem 1rem;
  }
  
  .blog{
    height: 74vh;
  }

  .footer-logo{
  width: 13rem;
  padding: 2rem 2rem 0rem 2rem;
  }

  .social{
    padding-left: 4rem;
  }

  .cat-h1{
    font-size: 2.3rem;
  }

  .list-items{
    width: 60%;
  }

  .site-split{
    grid-template-columns: 28% 80%;
  }

  .pop-stuff{
    padding: .5rem 2rem;
  }

  .pop-img{
    width: 120%;
  }

  .post-title{
    font-size: 2rem;
  }

  .popular-post h2{
  padding: 2rem 3rem 0rem 0rem;
  font-size: 2rem;
  }

  .side-img{
    padding-left: 1.5rem;
  }

}

/* -- viewport less than 750px or less -- */

@media only screen and (max-width: 750px){

  .nav-menu, .nav-items{
      flex-direction: column;
  }

  .toggle{
    display: initial;
  }

  .blog{
    height: 64vh;
  }

  .footer-logo{
    width: 12rem;
    padding: 3rem 3rem 0rem 0rem;
  }

  .social{
  padding-left: 2rem;
  font-size: 1.3rem;
  }

  .cat-h1{
    font-size: 2rem;
    padding-top: 0.5rem
  }

  .category-list{
    padding-inline-start: 0.5rem;
  }

  .pop-img{
    width: 110%;
  }

  .pop-stuff{
    padding: .5rem 1.2rem;
  }

  #third-blog{
    display: none;
  }
